header.sx__calendar-header{
    display: none ;
}

.sx-react-calendar-wrapper {
    height: 800px;
}

/*.sx__week-grid__hour{
    height: 4rem !important;
}*/

.sx__week-grid__date-axis{
    @apply bg-primary-dark;
}

.sx__week-grid__date-number,
.sx__week-grid__day-name{
    @apply text-white;
}

.sx__week-grid__date--is-today .sx__week-grid__date-number {
    @apply bg-primary-light;
}
.sx__week-grid__date--is-today .sx__week-grid__day-name{
    @apply text-white;
}

:root {
    --sx-color-primary: #476cab;
    --sx-color-on-primary: #fff;
    --sx-color-primary-container: #17376e;
    --sx-color-on-primary-container: white;
    --sx-color-secondary: #625b71;
    --sx-color-on-secondary: #fff;
    --sx-color-secondary-container: #e8def8;
    --sx-color-on-secondary-container: #1e192b;
    --sx-color-tertiary: #7d5260;
    --sx-color-on-tertiary: #fff;
    --sx-color-tertiary-container: #ffd8e4;

    --sx-color-surface-tint: #6750a4;


}

.event-wyk {
    background-color: #7CFC00 !important;
    border-left: 4px solid #55B200 !important;
    color: black !important;
}

.event-æw {
    background-color: #00BFFF !important;
    border-left: 4px solid #0077AA !important;
    color: white !important;
}

.event-lab {
    background-color: #663399 !important;
    border-left: 4px solid #4B2673 !important;
    color: white !important;
}

.event-proj {
    background-color: #FFFF00 !important;
    border-left: 4px solid #B2B200 !important;
    color: black !important;
}

.event-sem {
    background-color: #00BFFF !important;
    border-left: 4px solid #0077AA !important;
    color: white !important;
}

.event-lek {
    background-color: #FFFF00 !important;
    border-left: 4px solid #B2B200 !important;
    color: black !important;
}

